<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="697457188818-sflb7njo6k27el2r45gai80fs04cneld.apps.googleusercontent.com">
        <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>Login</title>
    </head>
    <body>
    <h1>Login</h1>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a href="#" onclick="signOut();">Sign out</a>

    <script>
       function onSignIn(googleUser) {
             var id_token = googleUser.getAuthResponse().id_token;
    console.log(id_token) 
    var xhr = new XMLHttpRequest();
xhr.open('POST', '/login');
xhr.setRequestHeader('Content-Type', 'application/json');
xhr.onload = function() {
  console.log('Signed in as: ' + xhr.responseText);
};
xhr.send(JSON.stringify({token: id_token}));
}
    </script>
<script> 
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
    </body>
</html>